@{
    ViewBag.Title = "Home Page";
}
<div class="col s12">
    <img src="~/Image/logo.jpg" width="1800" height="777" class="img-thumbnail">

</div>
<div class="col s12">
    <h4 class="left-align glyphicon-text-color">О нас</h4>
    <p class="flow-text">
        «FashionMan» — ателье, предлагающее широкий перечень услуг по пошиву и ремонту одежды. Здесь перешивают шубы и кожаные куртки, подгоняют по фигуре мужские костюмы, убирают затяжки с трикотажных кардиганов, шьют эксклюзивные платья по вашим эскизам и многое другое. Список предоставляемых услуг не является окончательным: с какой бы проблемой не обратился заказчик, сотрудники швейного ателье всегда стараются помочь в ее решении. Много внимания уделяется ручной работе, за счет которой удается добиться качества и эстетичности.
    </p>
</div>